@import "tailwindcss";

button{
  cursor: pointer;
}
:root {
  --background: #ffffff;
  --foreground: #171717;

  --card-bg: #ffffff;
  --border-color: #e5e7eb;
  --muted-text: #6b7280;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card-bg);
  --color-border: var(--border-color);
  --color-muted: var(--muted-text);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f11;
    --foreground: #f9fafb;

    --card-bg: #1a1a1d;
    --border-color: #2a2a2e;
    --muted-text: #9ca3af;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.color-body {
  background-color: #f8f8f8;
}
@media (prefers-color-scheme: dark) {
  .color-body {
    background-color: #121212;
  }
}


